<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
          <h1>
             <%= gravatar_for @user %>
             <%= @user.name %></br>
             age: <%= @user.age %></br>
             location: <%= @user.location %>
          </h1>
        <span>
        <%= @user.following_users.count %>
        <%= link_to "Followings", followings_user_path %>
        </span>
        <span>
        <%= @user.follower_users.count %>
        <%= link_to "Followers", followers_user_path %>
        </span>
    </aside>
  <div class="col-md-8">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
            <%= render @microposts %>
        </ol>
      <% end %>
  </div>
</div>
